.main-div {
  background-color: #f7f7f7;
  min-height: 100vh ;
  width: 100vw;
  height: fit-content;
  display:grid;
  grid-template-rows: 55px auto 200px;
}

.ReactModal__Overlay {
  background-color: #00000056 !important;
}

.navbar {
  background-color: #d2d2d2;
  height: 55px !important; 
}

.navbar-brand {
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
max-height: 35px !important;
  font-size: 1.4em; 
  margin-right: 10px;
}

.dropdown-item {
  cursor: pointer;
}

.end-item {
  margin-left: auto;
  display: flex;
}


.footer {
  background: #d2d2d2 ;
}

.footer, .container:after {
  height: 200px; 
}
