<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <!-- <link href="css/login.css" rel="stylesheet"> -->
</head>
<body>
    <nav>
        <a href="index.html">Index</a>
        <a href="answer.html">Answer</a>
        <a href="ask.html">Ask</a>
        <a href="logout">Log Out</a>
    </nav>
    <div class="container">
        <p>Your Question is:</p>
        <p id="user_qn"></p>
        <textarea name="text" id="answer_area_1" cols="30" rows="10" title="Answer 1"></textarea>
        <button type="submit" class="btn btn-primary btn-block btn-large" onclick="submitAnswer(1)">Submit Answer</button>
    </div>
</html>