<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask</title>
    <!-- <link href="css/login.css" rel="stylesheet"> -->
</head>
<body>
    <nav>
        <a href="index.html">Index</a>
        <a href="answer.html">Answer</a>
        <a href="ask.html">Ask</a>
        <a href="logout">Log Out</a>
    </nav>
    <div class="container">
        <h2>Which answer is by AI?</h2>
        <br>
        <label for="question">Question</label>
        <input type="text" name="question" id="question" placeholder="Question">
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit Question</button>
        <br>
        <label for="answer_area_1">Answer 1</label>
        <label for="answer_area_2">Answer 2</label>
        <br>
        <textarea name="text" id="answer_area_1" cols="30" rows="10" title="Answer 1"></textarea>
        <textarea name="text" id="answer_area_2" cols="30" rows="10" title="Answer 2"></textarea>
        <br>
        <label for="answer_1">Answer 1</label>
        <input type="radio" name="answer" id="answer_1" value="1">
        <br>
        <label for="answer_2">Answer 2</label>
        <input type="radio" name="answer" id="answer_2" value="2">
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit Choice</button>
    </div>
</html>